.grade-viewing_section {
  width: 100%;
  gap: 24px !important;
}

.grade-viewing_card p {
  margin-bottom: 0;
}

.grade-viewing_card .ant-card-body {
  padding: 19px 24px;
}

.grade-viewing_card .ant-card-meta-detail .ant-card-meta-title {
  font-size: 14px;
  margin-bottom: 0;
}

.grade-viewing_card .ant-card-meta-detail .ant-card-meta-description {
  font-size: 13px;
}
