.grade-structure-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.grade-structure-list li {
  margin-bottom: 1.5rem;
}

.grade-structure-list li:last-child {
  margin-bottom: 0;
}
