.grade-board_button-container {
  display: flex;
  margin-bottom: 10px;
}

.grade-board_button-container > * {
  margin-right: 10px;
}

.ant-table-thead .grade-board_grade-column-header {
  width: 96px;
}

.ant-table-thead .grade-board_grade-column-header p {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  color: grey;
  margin-bottom: 0;
}

.ant-table-thead .grade-board_grade-column-header .grade-structure {
  position: relative;
}

.ant-table-thead .grade-board_grade-column-header .grade-structure button {
  position: absolute;
  right: -8px;
  top: 0;
}

.ant-table-thead .ant-table-cell .title b {
  display: inline-block;
  max-width: 70px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.ant-table-thead .grade-board_grade-column-header .grade-structure .title,
.ant-table-thead .grade-board_grade-column-header .grade-structure .detail {
  margin-bottom: 5px;
}

.ant-table-thead .grade-board_grade-column-header .finalization-wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-table-thead .grade-board_grade-column-header.overall {
  height: 100%;
  padding-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ant-table-thead .grade-board_grade-column-header.overall p {
  font-size: 13px;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: white;
}

.ant-table-tbody > tr.ant-table-row:first-child td {
  background-color: #f8f9fa;
}

.ant-table-tbody > tr.ant-table-row:first-child:hover > td {
  background-color: #f8f9fa;
}

.ant-table-tbody .grade-board_student-cell {
  padding: 0 8px 0 16px;
  display: flex;
  align-items: center;
}

.ant-table-tbody .grade-board_student-cell .avatar {
  margin-right: 16px;
}

.ant-table-tbody .grade-board_student-cell .name {
  display: block;
  width: 190px;
  max-width: 190px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: inherit;
  text-align: left;
}

.ant-table-tbody .grade-board_student-cell a.name:hover,
.ant-table-tbody .grade-board_student-cell a.name:focus {
  color: #129eaf;
  text-decoration: underline;
}

.ant-table-tbody .grade-board_grade-cell .metadata-wrapper {
  display: block;
  /*hover doesn't work*/
  /*display: none;*/
}

.ant-table-tbody .grade-board_grade-cell .metadata-wrapper.containing {
  display: block;
}

.ant-table-tbody .grade-board_grade-cell .metadata-wrapper p {
  margin-bottom: 0;
}

.ant-table-tbody,
.grade-board_grade-cell,
.metadata-wrapper.containing,
.current-grade {
  color: #1e8e3e;
}

.ant-table-tbody .grade-board_grade-cell .metadata-wrapper .current-grade {
  font-weight: 500;
}

.ant-table-tbody .grade-board_grade-cell .metadata-wrapper .current-state {
  font-size: 12px;
  font-style: italic;
}

.ant-table-tbody .grade-board_grade-cell .input-wrapper {
  width: 64px;
  display: flex;
  position: relative;
  font-size: 14px;
  font-weight: 500;
}

.ant-table-tbody .grade-board_grade-cell .input-wrapper input {
  height: auto;
  width: 100%;
  font-weight: 500;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
}

.ant-table-tbody
  .grade-board_grade-cell
  .input-wrapper
  input:focus
  ~ .underline {
  display: block;
}

.ant-table-tbody .grade-board_grade-cell .input-wrapper p {
  margin-bottom: 0;
  color: grey;
}

.ant-table-tbody .grade-board_grade-cell .input-wrapper .underline {
  display: none;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -2px;
  border-bottom: 2px solid #007b83;
}

.ant-table-tbody .grade-board_grade-cell .finalization-checkbox {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.ant-table-tbody .grade-board_grade-cell.focus .finalization-checkbox {
  opacity: 1;
  visibility: visible;
}

.ant-table-tbody .grade-board_grade-cell.overall {
  justify-content: center;
}

.ant-table-tbody .grade-board_grade-cell.overall .metadata-wrapper.containing {
  align-self: center;
}

.ant-table-tbody
  .grade-board_grade-cell.overall
  .metadata-wrapper.containing
  .overall-grade {
  color: grey;
}
