.profile-single-field-button-wrapper .ant-form-item-control-input-content {
  display: flex;
  justify-content: flex-end;
}

.profile-single-field-button-wrapper
  .ant-form-item-control-input-content
  button {
  margin-left: 10px;
}
